.main {
  grid-column: 2/3;
}

/* bloc1 */


.bloc1 {
  justify-content: space-between;
  display: flex;
  margin-top: 8rem;
}

.bloc1-text {
  font-size: 3rem;
  color: #1C1C1E;
  padding-right: 10rem;
}

.bloc1-btn {
  width: 10rem;
  height: 3.1rem;
  background: #003CFF;
  color: white;
  align-items: center;
  border-radius: 1rem;
}

.bloc1-section img {
  display: flex;
  margin: 0 0 1rem 1rem;
}

.bloc1-image-card {
  width: 15.7rem;
  height: 9.3rem;
}

/* bloc2 */


.bloc2 {
  display: flex;
}

.bloc2-text {
  font-family: 'Rubik', sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  color: #0B132A;
}

.bloc2-text2 {
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4F5665;
}

.text-check {
  width: max-content;
  font-weight: 400;
  font-size: 0.8rem;
  color: #4F5665;
  padding-bottom: 1.2rem;
  display: flex;
}

.text-check div {
  padding-top: 0.12rem;
}

.img-check {
  padding-right: 1.1rem;
  width: 1.2rem;
}

.bloc2-img {
  padding-right: 4.9rem;
}


/* bloc3 */

.bloc3 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 1.7rem;
  padding: 2rem;
  margin: 3rem 0;
}

.bloc3-btn {
  font-size: 1.25rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.bloc3-text1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #1C1C1E;
  margin-top: 0;
}

.bloc3-text2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.bloc3-text3 {
  font-weight: 500;
  margin-top: 0;
}
.icon-bank {
  float: right;
}