.main {
  grid-column: 2/3;
}

.bloc1 {
  justify-content: space-between;
  display: flex;
  margin-top: 8rem;

}

.bloc1 p {
  font-size: 3rem;
  color: #1C1C1E;
}

.bloc1-btn {
  width: 10rem;
  height: 3.1rem;
  background: #003CFF;
  color: white;
  align-items: center;
  border-radius: 1rem;
}

.bloc1-section img {
  display: flex;
  margin: 0 0 1rem 1rem;
}

.bloc1-image-card {
  width: 15.7rem;
  height: 9.3rem;
}