
.header-container {
  max-width: 1300px;
  max-height: 64px;
  display: flex;
  justify-content: space-between;
}

.brand {
  color: #B4387A;
  font-size: 24px;
  letter-spacing: 0.02em;
  align-items: center;
}

.nav {
  max-width: 437px;
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: #1D1929;
  letter-spacing: 0.02em;
  align-items: center;
}

.header-btn {
  width: 128px;
  height: 50px;
  color: white;
  border: none;
  background: #003CFF;
  border-radius: 16px;
  letter-spacing: 0.02em;
}
