.header {
  grid-column: 2/3;
}

.header-container {
  max-width: 100%;
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
}

.brand {
  color: #B4387A;
  font-size: 1.5rem;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: #1D1929;
  align-items: center;
  padding-right: 2.5rem;

}

.header-btn {
  width: 8rem;
  height: 3.1rem;
  color: white;
  border: none;
  background: #003CFF;
  border-radius: 1rem;
  cursor: pointer;
  align-items: center;
}
